package pages

import "github.com/MilkeeyCat/conversa/views/layouts"

templ Authed() {
	<h1>Authed</h1>
	<div
		hx-ext="ws"
		ws-connect="/ws"
	>
		<div id="chat_room"></div>
		<form id="form" action="#" ws-send>
			<input name="message"/>
		</form>
	</div>
}

templ Guest() {
	<a href="/login">Login</a>
	<a href="/register">Register</a>
}

templ Index(IsAuthed bool) {
	@layouts.Base() {
		if IsAuthed {
			@Authed()
		} else {
			@Guest()
		}
	}
}
